.button {
  height: 4rem;
  width: 4rem;
  border-radius: 9999px;
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  scale: 0.8;
  transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: 0 3px 5px rgb(0 0 0 / 25%);
  transition: all 0.2s ease-out 0s;
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
}

.button:active {
  color: #fff;
  box-shadow: none;
  transform: translateY(0);
}

[data-theme='dark'] .button:hover,
[data-theme='dark'] .button:active {
  color: #1a1a1a;
  background-color: #fff;
}
